:root {
    --color-primary: rgb(57, 92, 179);
    --color-secondary: rgb(230, 230, 230);
    --color-default: #777;
}

body {
    margin: 0;
    color: var(--color-default);
    font-family: sans-serif;
    min-width: 300px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.background {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    background-image: url(../imgs/sea.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    padding-top: 20vh;
    text-align: center;
}
.content > div {
    width: 500px;
    max-width: 90%;
    margin: 0 auto;
}
.content.bottom {
    padding-top: unset;
    padding-bottom: 15vh;
}
@media screen and (max-width: 600px), screen and (max-height: 700px) {
    .content {
        padding-top: 15vh;
    }
}

.content img {
    width: 100%;
    height: auto;
}
@media screen and (max-height: 700px) {
    .content img {
        width: 75%;
    }
}

.content .short-description {
    font-size: 1.25rem;
    margin-top: 30px;
    font-family: sans-serif;
    color: var(--color-primary);
    text-shadow: 0 0 5px var(--color-secondary);
    text-align: center;
    text-transform: uppercase;
}
@media screen and (max-width: 600px), screen and (max-height: 700px) {
    .content .short-description {
        font-size: 1rem;
    }
}

.buttons {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
    vertical-align: baseline;
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-sizing: content-box;
    flex-wrap: wrap;
}

.buttons > a > .button {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
    color: var(--color-primary);
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-primary);
    transition: all 0.25s linear;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.buttons > a > .button:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    transition: all 0.25s linear;
}
.button > span {
    font-size: 35px;
    display: block;
}
.button > svg {
    width: 60%;
    height: auto;
    margin: auto;
    fill: var(--color-primary);
    transition: all 0.25s linear;
}
.button:hover > svg {
    fill: var(--color-secondary);
}
@media screen and (max-width: 600px) {
    .buttons > a > .button {
        width: 40px;
        height: 40px;
        margin: 5px;
    }
    .button > span {
        font-size: 25px;
    }
}

.doc-button {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    color: var(--color-primary);
    display: block;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    text-shadow: 0 0 5px var(--color-secondary);
    transition: all 0.25s linear;
    background-color: rgba(230, 230, 230, 0.25);
}
.doc-button:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-shadow: none;
    transition: all 0.25s linear;
}
@media screen and (max-width: 600px), screen and (max-height: 700px) {
    .doc-button {
        font-size: 1.25rem;
        padding: 15px;
    }
}

.github {
    position: absolute;
    top: 50px;
    right: 50px;
}
.github img {
    width: 150px;
    height: auto;
}

@media screen and (max-width: 600px) {
    .github {
        top: 25px;
        right: 25px;
    }
    .github img {
        width: 100px;
    }
}

.title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    color: var(--color-primary);
    text-shadow: 0 0 5px var(--color-secondary);
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}




/* ------ CARDS ------ */

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.card {
    width: 75vw;
    max-width: 500px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    transition: all 0.25s linear;
    padding: 20px;
    border-radius: 20px;
}
.card .fa {
    margin-top: 20px;
    font-size: 5rem;
}
.card:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    transition: all 0.25s linear;
}
.card:hover .card-content {
    color: var(--color-secondary);
    transition: all 0.25s linear;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
}

.card-content {
    font-size: 1.20rem;
    font-family: sans-serif;
    color: var(--color-default);
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .card {
        padding: 10px;
        margin: 10px;
    }

    .card-title {
        font-size: 1.25rem;
    }
    .card-content {
        font-size: 1.1rem;
    }
}




/* ------ FOOTER ------ */

.footer {
    margin-top: 80px;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    padding: 20px 0;
}

.footer img {
    width: 50%;
    max-width: 200px;
}
